.repository {
  &__img {
    img {
      height: 100px;
      border-radius: 50%;
    }
    width: 150px;
  }

  &__information {
    display: flex;
  }

  &__element {
    padding: 10px 0;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #000000;
  }

  &__description {
    font-weight: bold;
  }
}

.favorite {
  transition: 0.5s;
  cursor: pointer;
  display: flex;
  align-items: center;
  &:hover {
    color: #ffa550;
  }

  &-selected {
    color: orange;
  }
}
